<%- include('./includes/head') %>
<%- include('./includes/navbar') %>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="text-center">Contato</h1>
        <p class="text-center lead">Crie ou edite seu contato.</p>

        <%- include('./includes/messages.ejs') %>

        <form action="/contact/register" method="POST">
          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
          <div class="form-group mb-3">
            <label for="name">Name</label>
            <input value="<%= contact.name %>" type="text" name="name" id="name" class="form-control" placeholder="Enter name">
          </div>
          <div class="form-group mb-3">
            <label for="lastname">Lastname</label>
            <input value="<%= contact.lastname %>" type="text" name="lastname" id="lastname" class="form-control" placeholder="Enter lastname">
          </div>
          <div class="form-group mb-3">
            <label for="email">Email</label>
            <input value="<%= contact.email %>" type="email" name="email" id="email" class="form-control" placeholder="Enter email">
          </div>
          <div class="form-group mb-3">
            <label for="tel">Telephone</label>
            <input value="<%= contact.tel %>" type="tel" name="tel" id="tel" class="form-control" placeholder="Enter tel">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      <div class="col-lg-2"></div>
    </div>
  </div>
<%- include('./includes/footer') %>
    